{% extends "base.html" %}

{% block content %}
  <h1>
    <strong>
      Newspaper List
    </strong>
    <a href="#" class="btn btn-primary link-to-page">
      Add
    </a>
  </h1>

    <br>

  {% if newspaper_list %}
    <ul>
      {% for news in newspaper_list %}
        <li>
          <a href="#">{{ newspaper.id }}</a>
          #{{ news.id }} {{ news.title }} - ({{ news.topic }})
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no news in newspaper</p>
  {% endif %}
{% endblock %}
