{% extends "base.html" %}

{% block content %}
  <h2>
    <strong>
      {{ newspaper.title }}
    </strong>
  </h2>
  <p>Topic: ({{ newspaper.topic.name}})</p>
  <h2>
    Context:
  </h2>
  <p>
    {{ newspaper.content }}
  </p>
  <h2>
    Publishers

    {% if newspaper in user.newspaper.all %}
      <a href="#" class="btn btn-danger link-to-page">
        Remove as co-author
      </a>
    {% else %}
      <a href="#" class="btn btn-success link-to-page">
        Add as co-author
      </a>
    {% endif %}

  </h2>
  <hr>
  <ul>
    {% for publisher in newspaper.publisher.all %}
      <p class="text-muted"><strong>Id:</strong> {{ publisher.id }}</p>
      <li><strong>Username: </strong> {{ publisher.username }} ({{ publisher.first_name }} {{ publisher.last_name }})
        - {{ publisher.years_of_experience }} experience years</li>
      <br>
    {% endfor %}
  </ul>

  <a href="{% url 'newspaper:newspaper-delete' pk=newspaper.id %}" class="btn btn-danger link-to-page">
    Delete
  </a>

  <a href="{% url 'newspaper:newspaper-update' pk=newspaper.id %}" class="btn btn-primary link-to-page">
    Update
  </a>
{% endblock %}
