{% extends "base-presentation.html" %}

{% block content %}
  <div class="container py-2">
    <h1>Delete?</h1>
    <p>If you delete ({{ topic.name }})
      this also deletes all related news!
      Are you sure you want to delete?
    </p>
    <form action="" method="POST">
      {% csrf_token %}
      <input type="submit" value="Yes, delete" class="btn btn-danger" />
      <a href="{% url 'newspaper:topic-list'%}"><label>
        <input value="No, cancel" class="btn btn-success" />
      </label></a>
    </form>
  </div>
{% endblock %}

